@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="text-center">
    <h1 class="display-4" > <b>Cadastro de produtos</b></h1>
</div>
<br />

<center>
    <img src="http://www.engeplus.com.br/cache/noticia/0125/0125013/congresso-sul-brasileiro-de-computacao-acontece-na-unesc.jpg?t=20180929193148" width="550" height="350" />
</center>
