@{
    ViewData["Title"] = "Sobre";
}
<br />
<h1 class="navbar navbar-expand-lg navbar-light bg-light">@ViewData["Title"]</h1>
<br />
<h3>Software desenvolvido por DanSoftware.</h3>
<p>Sistema de cadastro de produtos.</p>